<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Restaurants</title>
  </head>
  <body>
    <form action="/restaurants/create" method="POST">
      <input type="text" name="name" placeholder="Restaurant Name"><br>
      <input type="text" name="foodType" placeholder="Food Type"><br>
      <input type="text" name="price" placeholder="Price"><br>
      <input type="text" name="location" placeholder="Location"><br>
      <input type="submit">
    </form>
  </body>
</html>
